<div class="top-container">
  <div class="rede" id="youtube">
    <div class="icon">
      <fa-icon [icon]="faYoutube"></fa-icon>
    </div>
    <div class="value">
      <div class="top">7.000 inscritos</div>
      <div class="bottom">Youtube</div>
    </div>
  </div>
  <div class="rede instagran">
    <div class="icon">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </div>
    <div class="value">
      <div class="top">2.000 seguidores</div>
      <div class="bottom">Instagran</div>
    </div>
  </div>
  <div class="rede twiter">
    <div class="icon">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </div>
    <div class="value">
      <div class="top">711.000 seguidores</div>
      <div class="bottom">Twiter</div>
    </div>
  </div>
  <div class="rede tikTok">
    <div class="icon">
      <fa-icon [icon]="faTiktok"></fa-icon>
    </div>
    <div class="value">
      <div class="top">5.000 seguidores</div>
      <div class="bottom">TikTok</div>
    </div>
  </div>
</div>
