.nav-items {
  padding-top: 70px;
  background-color: rgb(1, 38, 69);
  height: 100%;
  z-index: 500;
}

.nav-item {
  padding: 25px 50px;
  cursor: pointer;
  color: white;
  &:hover {
    background-color: rgb(1, 38, 69);
  }
  fa-icon {
    margin-right: 20px;
    font-size: 22px;
  }
}

span {
  display: inline;
}

.foto {
  padding: 10px 25px;
}

.fix {
  position: fixed
}