<div class="nav-items fix">
  <div class="foto">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaRiCcAiNeAU6D2C8IplQjaBlyRNhUp1QCFrHO_yDR&s" alt="foto de perfil">
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Dashboard</span>
  </div>
  <a href="https://www.youtube.com/@priscilasartori8224/" target="_blank">  
    <div class="nav-item">
      <fa-icon [icon]="faYoutube"></fa-icon>
      <span>Youtube</span>
    </div>
  </a>  
  <a href="https://www.instagram.com/prysllasartori/" target="_blank">
    <div class="nav-item">
      <fa-icon [icon]="faInstagram"></fa-icon>
      <span>Instagran</span>
    </div>
  </a>
  <a href="https://twitter.com/i/flow/single_sign_on/" target="_blank">
    <div class="nav-item">
      <fa-icon [icon]="faTwitter"></fa-icon>
      <span>Twiter</span>
    </div>
  </a>
  <a href="https://www.tiktok.com/pt-BR/" target="_blank">
    <div class="nav-item">
      <fa-icon [icon]="faTiktok"></fa-icon>
      <span>TikTok</span>
    </div>
  </a>
</div>
