<div class="container">
  <div class="">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center">Influencer</h3>
      </div>
      <form class="card-body" [formGroup]="formLogin">
        <div class="login">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" formControlName="username">
          <div class="form-text text-danger" *ngIf="isFormControlInvalid('username')"> O username deve conter pelo menos 6 caracteres.</div>
        </div>
        <div class="login">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <div class="form-text text-danger" *ngIf="isFormControlInvalid('password')"> O password deve conter pelo menos 6 caracteres.</div>
        </div>
        <button type="button" class="btn btn-primary" [disabled]="!formLogin.valid" (click)="submitForm()">Entrar</button>
        <a href="/register">Ainda não tenho cadastro</a>
      </form>
    </div>
  </div>
</div>
